body{
  margin-top: 7%;
  background-color: #F5F5DC;
}

.dark-green{
  background-color: #004225;
}

body h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

h1 {
  font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  color: #004225;
}

.dark-green h1{
  color: #FFB000;
}

.passion{
  display: flex;
  width: fit-content;
  justify-content: center;
  padding: 10px;
  border-left: solid 5px #FFB000;
}

.container.passion{
  display: flex;
  justify-content: center;
  border-left: none;
}

#app-name{
  background-color: #004225;
}

p{
  color: #004225;
  text-align: center;
}

.dark-green p{
  color: white;
}

.btn-primary{
  background-color: #FFCF9D;
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 900;
}

.btn-primary:hover{
  background-color: #FFB000;
}

.btn-primary:active:focus{
  background-color: #FFB000;
}

.orange{
  background-color: #FFB000;
}

.blockquote p{
  font-size: 2rem;;
}
